coffee = #DBC4AB

*
	margin 0
body 
	padding 20px
	font-family Verdana
	background-color darken(coffee, 40%)
.container
	border 5px solid darken(coffee, 60%)
	border-radius 8px	
	width 600px
	height 240px
	margin 10% auto
	background-color darken(coffee, 20%)
	padding 20px
h2 
	font-family 'Oswald', sans-serif
	font-size 33px
fieldset
	border none
	width 360px
	margin 0 auto
input
	margin-top 30px
	margin-right 5px
	margin-left 20px
button 
	margin-left 20px
	border 2px solid darken(coffee, 60%)
	border-radius 8px
	background-color coffee
	color darken(coffee, 60%)
	height 25px
	text-transform uppercase
	font-weight bold
button:hover 
	cursor pointer
	background-color darken(coffee, 60%)
	color white
p 
	margin-top 20px
	font-size 18px
	text-align center